[submodule "module5/lib/minmea"]
	path = module5/lib/minmea
	url = https://github.com/kosma/minmea
	ignore = dirty
[submodule "module6/lib/minmea"]
	path = module6/lib/minmea
	url = https://github.com/kosma/minmea
	ignore = dirty
